aiohttp
configparser
future

# Basic modules
numpy
pipmaster
pydantic
python-dotenv
tqdm
pypdf>=3.0.0

setuptools
tenacity

# LLM packages
tiktoken

# Extra libraries are installed when needed using pipmaster
